<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Ree">
  <p>
    Hi, I'm <strong>Ree</strong>,
    a front-end developer & CFD engineer.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
